<div id="<%= dom_id job %>">
  <div class="mb-4 text-sm font-medium">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= job.name %>
  </div>
  <div class="mb-4 text-sm font-medium">
    <p class="text-sm font-medium text-gray-500">Description</p>
    <%= job.description %>
  </div>
  <div class="mb-4 text-sm font-medium">
    <p class="text-sm font-medium text-gray-500">Notes</p>
    <%= job.notes %>
  </div>
</div>
