<div id="<%= dom_id job %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= job.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Description</p>
    <%= job.description %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Notes</p>
    <%= job.notes %>
  </div>

  <div class="flex flex-wrap items-start justify-between">
    <div class="w-full lg:w-1/4">

      <h3 class="h4">Steps</h3>

      <nav aria-label="Progress">
        <ol role="list" class="overflow-hidden" style="list-style-type:none;">
          <li class="relative pb-10">
            <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-orange-600" aria-hidden="true"></div>
            <!-- Complete Step -->
            <a href="#" class="group relative flex items-start">
              <span class="flex h-9 items-center">
                <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full bg-orange-600 group-hover:bg-orange-800">
                  <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                  </svg>
                </span>
              </span>
              <span class="ml-4 flex min-w-0 flex-col">
                <span class="text-sm font-medium">Create account</span>
                <span class="text-sm text-gray-500">Vitae sed mi luctus laoreet.</span>
              </span>
            </a>
          </li>
          <li class="relative pb-10">
            <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-gray-300" aria-hidden="true"></div>
            <!-- Current Step -->
            <a href="#" class="group relative flex items-start" aria-current="step">
              <span class="flex h-9 items-center" aria-hidden="true">
                <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full border-2 border-orange-600 bg-white">
                  <span class="h-2.5 w-2.5 rounded-full bg-orange-600"></span>
                </span>
              </span>
              <span class="ml-4 flex min-w-0 flex-col">
                <span class="text-sm font-medium text-orange-600">Profile information</span>
                <span class="text-sm text-gray-500">Cursus semper viverra facilisis et et some more.</span>
              </span>
            </a>
          </li>
          <li class="relative pb-10">
            <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-gray-300" aria-hidden="true"></div>
            <!-- Upcoming Step -->
            <a href="#" class="group relative flex items-start">
              <span class="flex h-9 items-center" aria-hidden="true">
                <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full border-2 border-gray-300 bg-white group-hover:border-gray-400">
                  <span class="h-2.5 w-2.5 rounded-full bg-transparent group-hover:bg-gray-300"></span>
                </span>
              </span>
              <span class="ml-4 flex min-w-0 flex-col">
                <span class="text-sm font-medium text-gray-500">Business information</span>
                <span class="text-sm text-gray-500">Penatibus eu quis ante.</span>
              </span>
            </a>
          </li>
          <li class="relative pb-10">
            <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-gray-300" aria-hidden="true"></div>
            <!-- Upcoming Step -->
            <a href="#" class="group relative flex items-start">
              <span class="flex h-9 items-center" aria-hidden="true">
                <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full border-2 border-gray-300 bg-white group-hover:border-gray-400">
                  <span class="h-2.5 w-2.5 rounded-full bg-transparent group-hover:bg-gray-300"></span>
                </span>
              </span>
              <span class="ml-4 flex min-w-0 flex-col">
                <span class="text-sm font-medium text-gray-500">Theme</span>
                <span class="text-sm text-gray-500">Faucibus nec enim leo et.</span>
              </span>
            </a>
          </li>
          <li class="relative">
            <!-- Upcoming Step -->
            <a href="#" class="group relative flex items-start">
              <span class="flex h-9 items-center" aria-hidden="true">
                <span class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full border-2 border-gray-300 bg-white group-hover:border-gray-400">
                  <span class="h-2.5 w-2.5 rounded-full bg-transparent group-hover:bg-gray-300"></span>
                </span>
              </span>
              <span class="ml-4 flex min-w-0 flex-col">
                <span class="text-sm font-medium text-gray-500">Preview</span>
                <span class="text-sm text-gray-500">Iusto et officia maiores porro ad non quas.</span>
              </span>
            </a>
          </li>
        </ol>
      </nav>
    
    </div>
    <div class="w-full lg:w-3/4">

    

        <div>
          <div class="sm:hidden mt-10">
            <label for="tabs" class="sr-only">Select a tab</label>
            <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
            <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500">
              <option selected>Guidance</option>
              <option>Todos</option>
              <option>Examples</option>
              <option>References</option>
            </select>
          </div>
          <div class="hidden sm:block ml-5 mt-5">
            <nav class="flex space-x-4" aria-label="Tabs">
              <!-- Current: "bg-gray-100 text-gray-700", Default: "text-gray-500 hover:text-gray-700" -->
              <a href="#" class="rounded-md bg-gray-100 px-3 py-2 text-sm font-medium text-gray-700" aria-current="page">Guidance</a>
              <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-500 hover:text-gray-700">Todos</a>
              <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-500 hover:text-gray-700">Examples</a>
              <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-500 hover:text-gray-700">References</a>
            </nav>
          </div>
        </div>
  



        <div class="bg-white">
        <div class="mx-auto max-w-7xl divide-y divide-gray-900/10 px-6 py-24 sm:py-32 lg:px-8 lg:py-5">
          <h2 class="text-lg font-bold leading-10 tracking-tight text-gray-900">Key Points and Goals</h2>
          <dl class="mt-10 space-y-8 divide-y divide-gray-900/10">
            <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
              <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">What&#039;s the best thing about Switzerland?</dt>
              <dd class="mt-4 lg:col-span-7 lg:mt-0">
                <p class="text-base leading-7 text-gray-600">I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
              </dd>
            </div>
            <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
              <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">What&#039;s the best thing about Switzerland?</dt>
              <dd class="mt-4 lg:col-span-7 lg:mt-0">
                <p class="text-base leading-7 text-gray-600">I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
              </dd>
            </div>
            <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
              <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">What&#039;s the best thing about Switzerland?</dt>
              <dd class="mt-4 lg:col-span-7 lg:mt-0">
                <p class="text-base leading-7 text-gray-600">I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
              </dd>
            </div>
      
            <!-- More questions... -->
          </dl>
        </div>
      </div>
      





<fieldset class="ml-7">
  <h2 class="text-lg font-bold leading-10 tracking-tight text-gray-900">TODOs</h2>
  <div class="space-y-5">
    <div class="relative flex items-start">
      <div class="flex h-6 items-center">
        <input id="comments" aria-describedby="comments-description" name="comments" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
      </div>
      <div class="ml-3 text-sm leading-6">
        <label for="comments" class="font-medium text-gray-900">Comments</label>
        <p id="comments-description" class="text-gray-500">Get notified when someones posts a comment on a posting.</p>
      </div>
    </div>
    <div class="relative flex items-start">
      <div class="flex h-6 items-center">
        <input id="candidates" aria-describedby="candidates-description" name="candidates" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
      </div>
      <div class="ml-3 text-sm leading-6">
        <label for="candidates" class="font-medium text-gray-900">Candidates</label>
        <p id="candidates-description" class="text-gray-500">Get notified when a candidate applies for a job.</p>
      </div>
    </div>
    <div class="relative flex items-start">
      <div class="flex h-6 items-center">
        <input id="offers" aria-describedby="offers-description" name="offers" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
      </div>
      <div class="ml-3 text-sm leading-6">
        <label for="offers" class="font-medium text-gray-900">Offers</label>
        <p id="offers-description" class="text-gray-500">Get notified when a candidate accepts or rejects an offer.</p>
      </div>
    </div>
  </div>
</fieldset>



    </div>
  </div>
  
</div>
