<div id="<%= dom_id step %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Job</p>
    <%= name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Step Name</p>
    <%= step.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Notes</p>
    <%= step.notes %>
  </div>
</div>
